{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section>
        <!-- *** HOMEPAGE CAROUSEL ***
_________________________________________________________ -->

        <div class="home-carousel">

            <div class="dark-mask"></div>

            <div class="container">
                <div class="homepage owl-carousel">
                    <div class="item">
                        <div class="row">

                            <div class="col-sm-7 text-center">
                                <img class="img-responsive"
                                     src="{% static 'img/template-mac.png' %}" alt="">
                            </div>

                            <div class="col-sm-5">
                                <h2> Construa hoje mesmo seu site</h2>
                                <ul class="list-style-none">
                                    <li>Sites modernos e atraentes</li>
                                    <li>Disponível em todas plataformas</li>
                                    <li>+ painel de administração</li>
                                    <li>+ email marketing</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-5 right">
                                <h1>Design Clean</h1>
                                <ul class="list-style-none">
                                    <li>Construímos designs limpos</li>
                                    <li>Tela cheia ou Boxed Mode</li>
                                    <li>Seguimos o padrão de cores do cliente</li>
                                    <li>Disponível para todos os dispositivos móveis</li>
                                </ul>
                            </div>
                            <div class="col-sm-7">
                                <img class="img-responsive"
                                     src="{% static 'img/template-easy-customize.png' %}"
                                     alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <img class="img-responsive"
                                     src="{% static 'img/template-easy-code.png' %}" alt="">
                            </div>
                            <div class="col-sm-5">
                                <h1>Crie hoje sua Loja Online</h1>
                                <ul class="list-style-none">
                                    <li>Plataforma de fácil uso</li>
                                    <li>Diversos sistemas de pagamento</li>
                                    <li>Fácil implantação</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.project owl-slider -->
            </div>
        </div>

        <!-- *** HOMEPAGE CAROUSEL END *** -->
    </section>


    <!-- *** LOGIN MODAL END *** -->
    <div class="container">

        <section>
            <div class="row">
                <div class="col-md-12">

                    <div class="heading">
                        <h2>Sobre Mim</h2>
                    </div>

                    <p class="lead">Atuando como desenvolvedor, tenho trabalhado com sistemas
                        multiplataforma por 4 anos
                        no mercado. Estou disposto a colocar seu segmento na forma digital, e
                        facilitar para seus
                        clientes o acesso a sua firma. Nestes anos venho desenvolvendo
                        aplicativos, websites, sistemas
                        de mail marketing, de gerenciamento, call marketing, entre outros
                        serviços. </p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="panel-group accordion" id="accordionThree">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a data-toggle="collapse" data-parent="#accordionThree"
                                       href="#collapse3a">

                                        Sistemas de acordo com os requisitos do cliente

                                    </a>

                                </h4>
                            </div>
                            <div id="collapse3a" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p>Este sistema, sendo ele aplicativo, website,
                                                ecommerce ou social media,
                                                desenvolvo de acordo com o desejo do cliente.
                                                Sistema único, e focado no
                                                problema da sua empresa. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a data-toggle="collapse" data-parent="#accordionThree"
                                       href="#collapse3b">

                                        Moderno e Eficaz.

                                    </a>

                                </h4>
                            </div>
                            <div id="collapse3b" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p>Utilizo as ferramentas mais modernas, tornando a
                                                usabilidade mais
                                                confortável possível.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a data-toggle="collapse" data-parent="#accordionThree"
                                       href="#collapse3c">

                                        Por que contratar um Freelancer?

                                    </a>

                                </h4>
                            </div>
                            <div id="collapse3c" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>Contato direto 24/7</li>
                                        <li>Preço abaixo do mercado</li>
                                        <li>Sem burocracias</li>
                                        <li>Confiabilidade e Fidelidade</li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="heading">
                        <h2>Skills</h2>
                    </div>

                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar"
                             aria-valuenow="90"
                             aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                            Ecommerce
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar"
                             aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            Search Engine Marketing
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar"
                             aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            Webdesign
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar"
                             aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width: 99%">
                            Apps
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <section class="bar background-pentagon no-mb">
        <div class="container">
            <div class="row showcase">
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="icon"><i class="fa fa-desktop"></i>
                        </div>
                        <h4><span class="counter">22</span><br>

                            Websites Criados</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="icon"><i class="fa fa-users"></i>
                        </div>
                        <h4><span class="counter">30</span><br>

                            Clientes Satisfeitos</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="icon"><i class="fa fa-copy"></i>
                        </div>
                        <h4><span class="counter">45</span><br>

                            Projetos</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="icon"><i class="fa fa-mobile"></i>
                        </div>
                        <h4><span class="counter">8</span><br>

                            Aplicativos Feitos</h4>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section class="bar background-white">
        <div class="container">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Serviços</h2>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-desktop"></i>
                            </div>
                            <h3>Websites</h3>

                            <p>Posso construir para você um belo site estático ou dinâmico.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <h3>Apps</h3>

                            <p>O mercado de aplicativos é crescente, e a partir de R$600,00
                                podemos construir para
                                você.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-th-large"></i>
                            </div>
                            <h3>ERP</h3>

                            <p>Criamos um sistema de gerenciamento para sua empresa de acordo
                                com seus requisitos.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-gift "></i>
                            </div>
                            <h3>e-commerce</h3>

                            <p>Venda seus produtos e serviços online, e fature muito mais.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <h3>Email Marketing</h3>

                            <p>Crie um mail listing para sua empresa e mantenha um
                                relacionamento com seus clientes.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <h3>social media</h3>

                            <p>Podemos criar para você todo serviço de Marketing Digital para
                                sua empresa. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bar background-gray no-mb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading text-center">
                        <h2>Clientes</h2>
                    </div>

                    <ul class="owl-carousel customers">
                        <li class="item">
                            <img src="{% static 'img/amxcg.png' %}" alt=""
                                 class="img-responsive"
                                 style="height: 100px;">
                        </li>
                        <li class="item">
                            <img src="{% static 'img/nossotatame.png' %}" alt=""
                                 class="img-responsive"
                                 style="height: 100px;">
                        </li>
                        <li class="item">
                            <img src="{% static 'img/imperialfruts.png' %}" alt=""
                                 class="img-responsive"
                                 style="height: 100px;">
                        </li>
                        <li class="item">
                            <img src="{% static 'img/clickmototaxi.png' %}" alt=""
                                 class="img-responsive"
                                 style="height: 100px;">
                        </li>
                        <li class="item">
                            <img src="{% static 'img/rafaelmotos.png' %}" alt=""
                                 class="img-responsive"
                                 style="height: 100px;">
                        </li>
                        <li class="item">
                            <img src="{% static 'img/soumonstro.png' %}" alt=""
                                 class="img-responsive"
                                 style="height: 100px;">
                        </li>
                    </ul>
                    <!-- /.owl-carousel -->
                </div>

            </div>
        </div>
    </section>

    <section class="bar background-white no-mb">
        <div class="container" data-animate="fadeInUpBig">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading text-center">
                        <h2>Ultimos Projetos</h2>
                    </div>


                    <div class="row portfolio">
                        {% for p in projetos %}
                            <div class="col-sm-4">
                                <div class="box-image">
                                    <div class="image">
                                        {% for foto in p.foto_set.all %}
                                            {% if foto.principal %}
                                                <img src="{{ foto.foto.url }}"
                                                     alt="{{ p.titulo }}"
                                                     class="img-responsive"
                                                     style="height: 300px;">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="bg"></div>
                                    <div class="name">
                                        <h3><a href="/projeto/{{ p.id }}">{{ p.titulo }}</a>
                                        </h3>
                                    </div>
                                    <div class="text">
                                        <p class="hidden-sm">{{ p.desc|truncatechars:60 }}</p>

                                        <p class="buttons">
                                            <a href="/projeto/{{ p.id }}"
                                               class="btn btn-template-transparent-primary">Ver</a>
                                        </p>
                                    </div>
                                </div>
                                <!-- /.item -->

                            </div>
                        {% endfor %}

                    </div>


                    <div class="see-more">
                        <p>Deseja ver todos nossos projetos ?</p>

                        <a href="/projetos" class="btn btn-template-main">Ver todos
                            projetos</a>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <script>
        $(document).ready(function () {
            $('#inicio').addClass('active');
        });
    </script>

{% endblock %}
